.lew-button {
  display: inline-block;
  background: var(--button-bg);
  border-radius: 6px;
  color: var(--button-color);
  position: relative;
  user-select: none;
  z-index: 1;
  overflow: hidden;
  padding: 4px 15px;
  height: 32px;
  white-space: nowrap;
  text-align: center;
  &::before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--button-hover-bg);
    z-index: -1;
    transition: width 0.3s linear;
  }
  &:hover::before {
    animation: animation-elastic 0.4s linear;
    width: 100%;
    transition: none;
  }

  & > .lew-button-icon {
    line-height: 0;
    margin-right: 8px;
    font-size: 16px;
  }
}

.lew-button.lew-button__block {
  display: block;
  width: 100%;
}

.lew-button.lew-button__icon-only {
  width: 32px;
  padding-inline-start: 0;
  padding-inline-end: 0;

  & > .lew-button-icon {
    margin-right: 0;
  }
}

@keyframes animation-elastic {
  0% {
    width: 0;
  }
  60% {
    width: 100%;
  }
  80% {
    width: 90%;
  }
  100% {
    width: 100%;
  }
}
