.mdx {
  & > * + * {
    margin-top: 1rem;
  }
  .mdx-img {
    cursor: pointer;
  }
}

.mdx-heading {
  color: var(--header-text-color);
  margin: 20px 0 14px 0;
  &::before {
    margin-right: 0.3rem;
    color: var(--button-bg);
    transition: color 0.3s;
  }
  &:hover::before {
    color: var(--button-hover-bg);
  }
}

@for $i from 1 through 6 {
  .mdx-heading-#{$i} {
    margin-bottom: 0;
    &::before {
      content: "H" + $i;
    }
  }
}

.mdx-a {
  color: var(--button-bg);
  display: inline;
  margin: 0 4px;
  font-size: 1.1rem;
  line-height: 2;
  word-break: break-all;
  &:hover {
    text-decoration: underline;
  }
}
.mdx-p,
.mdx-span {
  line-height: 2;
  font-size: 1.1rem;
  word-break: break-all;
}
.mdx-blockquote {
  padding: 8px 16px;
  border-left: 4px solid var(--button-bg);
  background-color: var(--post-blockquote-bg-color);
}
.mdx-table {
  min-width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  empty-cells: show;
  display: block;
  width: 100%;
  overflow-x: auto;
  .mdx-thead {
    background: rgba(153, 169, 191, 0.1);
  }
  .mdx-th,
  .mdx-td {
    padding: 0.3rem 0.6rem;
    border: 1px solid var(--button-color);
  }
}
.mdx-code {
  font-weight: 500;
  background: var(--code-bg-color);
  color: #f47466;
  padding: 2px 4px;
  font-size: 1rem;
}
.mdx-ul {
  padding-left: 2rem;
  > .mdx-li {
    list-style-type: circle;
    &::marker {
      font-weight: 600;
      font-size: 1.05em;
      color: var(--button-bg);
    }
    &:hover::marker {
      color: var(--button-hover-bg);
    }
  }
}
.mdx-ol {
  counter-reset: li;
  > .mdx-li {
    list-style: none;
    position: relative;
    margin: 0.3rem 0;
    padding: 0.12rem 0.4rem 0.12rem 1.8rem;
    &::before {
      position: absolute;
      top: 0.6rem;
      left: 0;
      display: inline-block;
      width: 1.1rem;
      height: 1.1rem;
      line-height: 1.1rem;
      border-radius: 50%;
      counter-increment: li;
      content: counter(li);
      text-align: center;
      background: var(--button-bg);
      color: var(--button-color);
      margin-right: 8px;
      font-size: 0.6rem;
      transition: transform 0.3s ease-out;
    }
    &:hover::before {
      transform: rotate(-360deg);
    }
  }
}
.mdx-li {
  .mdx-ul,
  .mdx-ol {
    margin-top: 0.6rem;
  }
  .mdx-p {
    padding: 0;
  }
}
.mdx-input[type="checkbox"] {
  border: 2px solid #3dc550;
  appearance: none;
  position: relative;
  height: 16px;
  width: 16px;
  transition: all 0.15s ease-out 0s;
  display: inline-block;
  outline: 0;
  border-radius: 2px;
  flex-shrink: 0;
  margin-right: 8px;
  opacity: 0.7;
  &:checked {
    background: #3dc550;
  }
  &::before {
    left: 1px;
    top: 5px;
    width: 0;
    height: 2px;
    transition: all 0.2s ease-in;
    transform: rotate(45deg);
    position: absolute;
    content: "";
    background: #fff;
  }
  &::after {
    right: 7px;
    bottom: 3px;
    width: 2px;
    height: 0;
    transition: all 0.2s ease-out;
    transform: rotate(40deg);
    transition-delay: 0.25s;
    position: absolute;
    content: "";
    background: #fff;
  }

  &:checked::before {
    left: 0;
    top: 7px;
    width: 6px;
  }
  &:checked::after {
    right: 3px;
    bottom: 2px;
    height: 10px;
  }
}
